# ~/.config/starship.toml

# Inserts a blank line between shell prompts
add_newline = true

# Change command timeout from 500 to 1000 ms
command_timeout = 1000

# Change the default prompt format
format = """\
[╭╴](238)$os\
$all[╰─](238)$character"""

# Change the default prompt characters
[character]
success_symbol = "[](238)"
error_symbol = "[](238)"

# Show OS/distro icon (automatically detected by Starship)
[os]
disabled = false
format = "[$symbol](white) "

# Shows the username
[username]
style_user = "white"
style_root = "white"
format = "[$user]($style) "
show_always = true

[hostname]
ssh_only = false
format = "on [$hostname](bold yellow) "

[directory]
truncation_length = 1
truncation_symbol = "…/"
home_symbol = " ~"
read_only_style = "197"
read_only = "  "
format = "at [$path]($style)[$read_only]($read_only_style) "
